* {
    font-family: 'nanumbarungothic';
}

section {
    width: 80%;
    height: 800px;
    /* background-image: url('https://images.unsplash.com/photo-1536849460588-696219a9e98d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=831&q=80');
    background-size: cover;
    background-position: top; */
    background: center/cover no-repeat url('https://images.unsplash.com/photo-1536849460588-696219a9e98d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=831&q=80');
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}