* {
    font-family: 'nanumbarungothic';
}

body {
    color: #3D5A80;
    background-color: #E0FBFC;
}
button {
    font-size: 20px;
    background-color: #98C1D9;
}

h1, h2 {
    color: 293241;
}

#signup {
    color: #E0FBFC;
    background-color: #3D5A80;
}

span {
    color: inherit;
}

.tag {
    background-color: #fbb1bd;
    color: #ff0a54;
    font-size: 16px;
}

.post a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

footer a {
    color: #ac46a1;
}

h2 + button {
    font-size: 15px;
}

a[href*="google"] {
    color: magenta;
}

.post button:hover {
    background-color: #3D5A80;
    color: #E0FBFC;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #3D5A80;
    color: #E0FBFC;
}

.post:nth-of-type(2n-1) {
    background-color: #d4ebec;
}

h2::first-letter {
    font-size: 40px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}